{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="h-screen w-full dark:bg-gray-800">
    <section class="flex flex-col justify-center max-w-7xl px-4 py-10 mx-auto sm:px-6">
        <h2 class="mb-6 text-2xl font-bold text-gray-900 md:text-3xl dark:text-white">
            Articles
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 px-1">
        {% for article in articles %}
            <div class="p-4 flex flex-col justify-between gap-2 border rounded-lg shadow-md bg-white dark:bg-gray-700 dark:border-gray-400/40">
                <a class="text-xl font-semibold text-blue-700 hover:underline two-lines dark:text-blue-100" href="/article/{{article.id}}">
                    {{ article.title }}
                </a>
                <div class="flex flex-wrap gap-2 text-xs text-gray-600 dark:text-gray-300">
                    {% for cat in article.categories %}
                    <span class="px-2 py-0.5 rounded-full bg-gray-100 dark:bg-gray-600">
                        {{ cat.name }}
                    </span>
                    {% endfor %}
                </div>
                <p class="text-gray-800 two-lines dark:text-gray-300">
                    {{ article.content }}
                </p>

                <div class="flex items-center justify-between text-sm">
                    <button class="text-gray-500 dark:text-gray-300">
                    2 min read
                </button>

                    <a href="/article/{{article.id}}" class="text-blue-700 hover:underline dark:text-white">
                        Read more
                    </a>
                </div>
            </div>
       {% endfor %} 
    </div>
    </section>
</div>
{% endblock %}
  